*{
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family:OpenSans, sans-serif; 
}

.container{
	padding-right:15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width:1170px;
}

header{
	padding:30px 0;
	background-color: #245b8c;
	color: #fff;
}

header h1{
	text-align: center;
	margin-bottom: 20px;
	font-weight: normal;
}

header form{
	padding: 10px 70px;
	display:flex;
	justify-content: space-between;
}

header form input{
	border-radius: 4px;
}

header form #search{
	padding: 1.4em 2em;
    width: 80%;
    border: 1px solid #fff;
}

header form #submit-btn{
    padding: 1.4em 2em;
    width: 18%;
    background-color: #12a159;
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.search-results{
    margin-top: 30px;
}
ul{list-style: none;}

.search-results h2{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 0.9em;
    line-height: 1.4;
    color: #bf3d3d;

}
.search-results p{
    font-weight: normal;
    font-size: 15px;
    color: #333;
    line-height: 1.4;

}

.article{
	background: url(../images/icon-article.png), #ffffff;
    background-position: 1.5em 1.2em;
    background-repeat: no-repeat;
    background-size: 1.8em;
    border: solid 1px #dbe2e8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em;
    padding: 1em 2em 1em 4.8em;

}

figure{
	margin: 0;
    margin-bottom: 2em;
    position: relative;
    text-align: center;
}

figure img{
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
}


figure figcaption{
	bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 14px;
    padding: 0.8em 1.4em;
    position: absolute;
    width: 100%;
}

.error-no-image {
    background: url(../images/icon-no-image.png) no-repeat 50% top;
    margin-bottom: 3em;
    padding-top: 8em;
    text-align: center;
}



@media only screen and (max-width: 768px) {
    header form #search{
	    width: 70%;
	    padding:1em 1em;
	    font-size:15px;
	}

	header form #submit-btn{
	    width: 25%;
	    padding:1em 1em;
	    font-size:15px;
	    
	}
}

@media only screen and (max-width: 512px) {
    header form #search{
	    padding:1em 0.6em;
	}

	header form #submit-btn{
	    padding:1em 0.6em;
	}

	header form{
		padding: 10px 40px;
	}
}
