*{
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family:OpenSans, sans-serif; 
}

.container{
	padding-right:15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width:1170px;
}

header{
	padding:30px 0;
	background-color: #245b8c;
	color: #fff;
}

header h1{
	text-align: center;
	margin-bottom: 20px;
	font-weight: normal;
}

header form{
	padding: 10px 70px;
	display:flex;
	justify-content: space-between;
}

header form input{
	border-radius: 4px;
}

header form #search{
	padding: 1.4em 2em;
    width: 80%;
    border: 1px solid #fff;
}

header form #submit-btn{
    padding: 1.4em 2em;
    width: 18%;
    background-color: #12a159;
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-size: 15px;
}



@media only screen and (max-width: 768px) {
    header form #search{
	    width: 70%;
	    padding:1em 1em;
	    font-size:15px;
	}

	header form #submit-btn{
	    width: 25%;
	    padding:1em 1em;
	    font-size:15px;
	    
	}
}

@media only screen and (max-width: 512px) {
    header form #search{
	    padding:1em 0.6em;
	}

	header form #submit-btn{
	    padding:1em 0.6em;
	}
}
